FACEBOOK_EMAIL=
FACEBOOK_PASSWORD=
HELLO_ALTERNATIVES=Hello,Hey
MESSAGE_BASE="I've stopped using messenger. Please contact me on..."
MESSAGE_AND_WORD="and"
BASE_URL=https://www.messenger.com
UPDATE_POLL_IN_MS=10000
BROWSER_LOCALE=en-US
BROWSER_USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"